html,body{
		max-width: 100% !important;
		overflow-x: hidden !important;
		margin-top: 0;
		overscroll-behavior: none;
		scroll-behavior: none; 
		-webkit-overflow-scrolling: touch;

	}

	.entr-bg{
		max-width: 100% !important;
		max-height: 100% !important;
		overflow: hidden !important;
		height: 100vh;
		background-image: url('../img/entr-bg.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.title1{
		
		font-family: 'Raleway', serif;
		font-size: 70px;
		font-weight: lighter;
	}


	.title2, .title3, .entr-btn-div{
		font-family: 'Raleway', serif;
		font-size: 20px;
		font-weight:bolder;

	}

	.title1{
		animation: fadeIn-second 4s linear;
	}

	.title2 {
		animation: slide-left 1.5s;
	}
	.title3{
		animation: slide-right 2s;
	}


	.entr-btn-div {
		margin-top: 4%;
		animation: slide-up 4s linear;
	}

	.title-logo{
		margin-top: 5%;
		animation: slide-down 4S linear;
	}

	#entr-btn {
		text-decoration: none;
		color: white;
		background-color: #333;
		padding: 0.5rem;
		border-radius: 5px;
	}

	#entr-btn:hover{
		background-color: #eee;
		color: #333;
		box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.3);
	}

	#entr-logo{
		width: 10rem;
		height: 10rem;
		background-image: url("../img/logo.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	}

	@keyframes fadeIn {
    0% { opacity: 0; }
      100% { opacity: 1; }
}

	@keyframes fadeIn-second{
		 0% { opacity: 0; }
		 60% {opacity: 0; }
      100% { opacity: 1; }
	}

	@keyframes slide-left{
		0%{	transform: translateX(-100rem);}
		30%{transform: translateX(-100rem);}
		100%{transform: translateX(0);}
	}
	@keyframes slide-right{
		0%{	transform: translateX(100rem);}
		30%{transform: translateX(100rem);}
		100%{transform: translateX(0);}
	}

@keyframes slide-down{
		0%{	transform: translateY(-100rem);}
		20%{transform: translateY(-100rem);}
		100%{transform: translateY(0);}
	}
	@keyframes slide-up{
		0%{	transform: translateY(100rem);}
		20%{transform: translateY(100rem);}
		100%{transform: translateY(0);}
	}

	header {
		width: 100%;
		position: fixed;
		margin-top: 0;
		z-index: 20;
		background-color: white;
	}

	.content-text {
		font-family: 'Raleway', serif;
		font-size: 19px;
		text-align: center;
	}
	.green-text {
		color: #759374;
	}
	.pink-text {
		color: #BA9D9D;
	}
	.word-shadow {
		text-shadow: 2px 2px 5px #888;
	}
	.ribbon {
		z-index: 10;
	}

	.ribbon-wrapper {
		font-family: 'Raleway', serif;
		font-size: 15px;
		text-align: center;
		height: 2.5rem;
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	}

	.ribbon-content
	 {
	 	width: 100%;
	 	height: 2.5rem;
	 	background-color: white;
		text-align: center;
		position: absolute;
		transition: opacity 1s ease-in;
	}

	.ribbon-content p {
		text-align: center;
	}

	.menu-bar {
		width: 100%;
		display: flex;

		
	}
	.nav-container {
		display: flex;
		padding-left: 2rem;
	}
	#logo {
		height: 100%;
		padding-left: 10%;

	}
	#logo a{
		text-decoration: none;
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
	}

	.logo-img {
		display: block;
		width: 3rem;
		height: 3rem;
		background-image: url("../img/logo.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.control {
		display: flex;
	}

	.menu {
		display: flex;
		flex-flow: row nowrap;
		flex: 1;
	}
   	.menu-list {
		display: flex;
		flex-flow: row nowrap;
		flex: 1;
		justify-content: flex-start;
		list-style: none;
	}

	.nav-item {
		display: flex;
		flex: none;
		font-family: 'Raleway', serif;
		
	}
	.nav-item-link {
		padding-left: 1rem;
		padding-right: 1rem;
		text-decoration: none;
		color: #000;
		border: none;
		background: none;
		font-family: 'Raleway', serif;
		font-size: 15px;
	}
	.nav-item-link:hover {
		color: #888;
	}

	.dropdown-content {
		display: none;
		width: 100%;
		margin-top: 1rem;
		left: 0;
		right: 0;
		position: absolute;
		grid-template-rows: [nr1]20%[nr2]auto[nr3];
		grid-template-columns: [nc1]70%[nc2]30%[nc3];
		box-shadow: 8px 0 8px 0 rgba(0, 0, 0, 0.2);
	}

	.dropdown-content div {
		display: none;
	}

	#us {
		height: 13rem;
		padding: 2rem;
		grid-row-start: 1;
		grid-row-end: span nr2;
		grid-column-start: 1;
		grid-column-end: span nc2;
	}

	#contact {
		height: 13rem;
		padding: 2rem;
		grid-row-start: 1;
		grid-row-end: span nr2;
		grid-column-start: 2;
		grid-column-end: span nc3;
	}

	#drop-blank {
		height: 50rem;
		grid-row-start: 2;
		grid-row-end: span nr3;
		grid-column-start: 1;
		grid-column-end: span nc3;
	}

	#menu-toggle{
		display: none;
	}



	#intro-btn {
		float: right;
		font-family: 'Raleway';
		width: 10rem;
		border: none;
		margin-right: 20%;
		margin-left: 20%;
		padding: 1rem;
		box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
	    border-radius: 10px;
	    background-image: linear-gradient(-45deg,#C7D6C7,#D2D2C8, #EDD6D6, #EAC9C9);
	}
	#intro-btn:hover {
		box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.6); 
		background: linear-gradient(-45deg, #C7D6C7, #D2D2C8, #EDD6D6, #EAC9C9);
		background-size: 300% 300%;
		animation: gradient 2s ease;
	}



	@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

	#d-studio {
	  display: none;
	  position: fixed;
	  z-index: 1; 
	  padding-top: 100px; 
	  left: 0;
	  top: 0;
	  width: 100%; 
	  height: 100%; 
	  overflow: auto; 
	  background-color: rgba(0,0,0,0.4); 
	}

	.d-studio-content {
	  background-color: #fefefe;
	  background-image:url("../img/logo.png");
	  background-position: right bottom;
	  background-size: 20%,20%;
	  background-origin: content-box;
	  background-repeat: no-repeat;
	  margin: auto;
	  padding: 2rem;
	  border: 1px solid #888;
	  border-radius: 12px;
	  width: 50%;
	  height: 30rem;
	  opacity: 1;
	}

	.d-studio-content p {
		font-family: 'Raleway', serif;
	}

	.modal-close {
	  color: #aaaaaa;
	  float: right;
	  font-size: 28px;
	  font-weight: bold;
	}

	.modal-close:hover,
	.modal-close:focus {
	  color: #000;
	  text-decoration: none;
	  cursor: pointer;
	}


	.main-bg {
		position: relative;
		margin-bottom: 15rem;
		right: 0;

	}
	.main-bg::before{
		content: '';
		background-image: url("../img/main_bg3.png");
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		z-index: -1;
		padding-top: 100%;
		transform: translateY(-45%);
		background-size: cover;
		background-position: top center;

	}

	.home-main-content h1 {
		font-family: 'Josefin Sans', serif;
		font-size: 80px;
		text-align: center;
		margin-bottom: 0;
		animation: appear 3s linear;


	}

	@keyframes appear {
		0%{opacity: 0;}
		25%{opacity: 25%;}
		50%{opacity: 50%;}
		75%{opacity: 75%;}
		100%{opacity: 1;}
	}

	.home-main-content p {
		font-family: 'Raleway', serif;
		font-size: 25px;
		text-align: center;
		float: right;
		margin-left: 20%;
		margin-right: 20%;
		padding-bottom: 1rem;
		font-weight: lighter;
		
	}

	#home-main-p {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	.stories {
		position: relative;
		transform: translateY(20%);
		width: 100%;
		overflow: hidden;
		border-radius: 12px;
		box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3);

	}
	.bg-img {
		background-image: url("../img/stories-bg.png");
		position: absolute;
		width: 100%;
		height: 101%;
		background-size: cover;
		background-position: bottom center;
		opacity: 0.5;
	
	}
	.nature-content {
		position: relative;
		margin-left: 4rem;
		margin-top: 1rem;
	}
	
	.nature-content h2 {
		font-family: 'Raleway', serif;
		font-size: 50px;
		text-align: left;
		margin-bottom: 0;
		margin-top: 0;
	}

	.nature-content p {
		font-family: 'Raleway', serif;
		font-size: 25px;
		text-align: left;
		margin-top: 0;
		font-weight: lighter;
	}

	.nature-tile {
		margin-right: 4rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
		position: relative;
		border: 1px solid rgba(0,0,0,0.1);
    background-clip: padding-box;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: visible;
    height: 42em;
    width: 90%;
    float: right;
    padding: 0;
    display: grid;
    grid-template-columns: [first]50% [second]50%[end];
    grid-template-rows: [line1]3rem [line2]95%[line3];
	}

	#about-us{
		grid-column-start: 1;
		grid-column-end: span second;	
		grid-row-start: 1;
		grid-row-end: line2;
		margin-left: 1rem;
		margin-right: 1rem;
		padding-top: 1.5rem;
	}

	#about-us .badge {
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
	}

	#studio {
		grid-column-start: 1;
		grid-column-end: span second;	
		grid-row-start: 2;
		grid-row-end: line3;
		border-radius: 12px 0 0 12px;
		margin-left: 2rem;
		margin-right: 2rem;
		padding-top: 1.5rem;
		word-spacing: 5px;
	}
	
	#nature-tile-words {
		grid-column-start: 2;
		grid-column-end: span end;	
		grid-row-start: 2;
		grid-row-end: line3;
		border-radius: 0 12px 12px 0;
		display: grid;
		grid-template-columns: [c1]100%[c2];
	  grid-template-rows: [r1]50%[r2]50%[r3];
	  overflow: hidden;
	}

	
	

	#logo-story {
		grid-column-start: 1;
		grid-column-end: span c2;	
		grid-row-start: 2;
		grid-row-end: r3;
		margin-left: 2rem;
		margin-right: 2rem;
		background-image:url("../img/logo.png");
		background-size: 30%;
		background-position: left center;
		background-repeat: no-repeat;
		padding-left: 30%;
		padding-top: 1.5rem;
		overflow: auto;

	}

	#belief{
		grid-column-start: 1;
		grid-column-end: span c2;	
		grid-row-start: 1;
		grid-row-end: r2;
		margin-left: 2rem;
		margin-right: 2rem;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		overflow: auto;
	}

	#studio h2, #logo-story h2, #belief h2 {
		font-family: 'Raleway', serif;
		font-size: 25px;
		word-spacing: 5px;
		font-weight: 400;
	}

	#studio p, #belief p, #logo-story p {
		font-family: 'Raleway', serif;
		font-size: 17px;
		font-weight: 300;
		line-height: 1.8rem;
		text-align: justify;
		word-spacing: 0.5px;
	}

		#studio-content {
		width: 85%;
		position: relative;
		padding: 2rem;
		height: 60%;

	}

	#studio-content::before {
		content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 40%;
 		border-top: 1px solid #666;
    border-left: 1px solid #666;	
   
	}
	#studio-content::after {
		content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 40%;
     border-bottom: 1px solid #666;
    border-right: 1px solid #666;
   
	}

	#home-terms{
		border: none;
		background-color: none;
		font-family: 'Raleway', serif;
		font-size: 17px;
	}

	#home-terms:hover{
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	}

	#studio-share{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding-top: 0.5rem;
		margin: 0;
	}


	#studio a{
		flex: 1;
		font-family: 'Raleway', serif;
		font-size: 17px;
		text-decoration: none;
		color: #666;
		padding-bottom: 0.5rem;
	}

	#share {
		align-self: stretch;
		margin-right: 2rem;
		
	}
.badge {
		font-family: 'Raleway', serif;
		font-size: 15px;
		background-color: #555;
		padding: 6px;
		border-radius: 6px;
		display: inline-block;
		text-transform: uppercase;
		color: white;
	}

	#share-content, #nature-tile-btn-group {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
	}

	#awarded {
		background-image: url("../img/share_btn_bg_g2.png");
		background-size: cover;


	}
	#fav, #recent {
		background-image: url("../img/share_btn_bg_p2.png");
		background-size: cover;
	}

	#share .badge {
		font-size: 13px;
		margin-bottom: 0.5rem;
	}
	.share-btn {
		text-decoration: none;
		color: black;
		margin-right: 3rem;
		width: 10rem;
		border-radius: 10px;
		border: none;
		box-shadow: 0,0,0,0.2;
		padding: 0.5rem;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		font-family: 'Raleway';
		font-size: 13px;
		text-transform: uppercase;
	}

	.share-btn:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	}

	#portfolio{
		margin-right: 4rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
		
		position: relative;
		width: 90%;
		height: 50em;
		float: right;
		border: 1px solid rgba(0,0,0,0.1);
    background-clip: padding-box;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: visible;
    display: flex;
    flex-direction: column;
	}
	#recommend{
		padding-top: 1.5rem;
		padding-bottom: 2rem;
		flex: 0 1 auto;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	#recommend .badge{
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
	}

	#nature-tile-img {
		height: 100%;
     display: grid;
     grid-template-columns: [col1]30% [col2]14%[col3]10%[col4]12%[col5]auto[col6];
	    grid-template-rows: [row1]50% [row2]50%[row3];

	}

	#img-1 {
		grid-column-start: 1;
		grid-column-end: span col3;
		grid-row-start: 1;
		grid-row-end: span row2;
  	height: 100%;
  	border-bottom: solid 5px white;
  	border-right: solid 5px white;

	}
	#img-2 {
		grid-column-start: 3;
		grid-column-end: span col5;
		grid-row-start: 1;
		grid-row-end: span row2;
    height: 100%;
    border-bottom: solid 5px white;
    border-right: solid 5px white;
	}

	#img-3 {
		grid-column-start: 5;
		grid-column-end: span col6;
		grid-row-start: 1;
		grid-row-end: span row2;
  	height: 100%;
  	border-bottom: solid 5px white;

	}

	#img-4 {
		grid-column-start: 1;
		grid-column-end: span col2;
		grid-row-start: 2;
		grid-row-end: span row3;    	
  	height: 100%;
  	border-top: solid 5px white;
  	border-right: solid 5px white;
      	

	}
	#img-5 {
		grid-column-start: 2;
		grid-column-end: span col4;
		grid-row-start: 2;
		grid-row-end: span row3;	
  	height: 100%;
  	border-top: solid 5px white;
  	border-right: solid 5px white;

	}
	#img-6 {
		grid-column-start: 4;
		grid-column-end: span col6;
		grid-row-start: 2;
		grid-row-end: span row3;	
  	height: 100%;
  	border-top: solid 5px white;
      	

	}

	.slides-1, .slides-2, .slides-3, .slides-4, .slides-5, .slides-6 {
		position: absolute;
		transition: opacity 2s ease-in;

	}

	
	#nature-tile-btn {
		margin-top: 2rem;
		margin-bottom: 2rem;
		opacity: 1;
		border-radius: 0 0 12px 0;
		padding-left: 1rem;
		padding-left: 1rem;
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		align-content: flex-end;
	}

	#nature-tile-btn p {
		font-family: 'Raleway', serif;
		font-size: 12px;
		background-color: #888;
		color: white;
		padding: 4px;
		border-radius: 6px;
		display: inline-block;
		text-transform: uppercase;
	}

	#nature-tile-btn a{
		align-self: stretch;
		text-decoration: none;
		color: black;
		font-size: 12px;
		width: 9rem;
		padding: 0.5rem;
		border-radius: 10px;
		border: none;
		box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
		text-align: center;
		font-family: 'Raleway',serif;
		float: right;
		background-image: linear-gradient(-45deg,#C7D6C7,#D2D2C8, #EDD6D6, #EAC9C9);
	}

	#nature-tile-btn a:hover {
		box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.6); 
		background: linear-gradient(-45deg, #C7D6C7, #D2D2C8, #EDD6D6, #EAC9C9);
		background-size: 300% 300%;
		animation: gradient 2s ease;
	}


	@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	  #us,#contact{
	    -webkit-backdrop-filter: blur(10px);
	    backdrop-filter: blur(10px);
	    background-color: rgba(255, 255, 255, 0.8);  
	  }

	  #nature-tile-btn,#drop-blank {
	    -webkit-backdrop-filter: blur(5px);
	    backdrop-filter: blur(5px);
	    background-color: rgba(255, 255, 255, 0.2);  
	  }
	}
	
	#mobile-img {
		display: none;
	}

	#home-main{
		margin-bottom: 40%;
	}
	footer{
		margin-top: 10%;
	}
	.footer-content{
		padding-left: 10rem;
		padding-right: 10rem ;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	}


	.footer-group {
		flex: none;
	}

	.footer-group h2 {
		font-family: 'Raleway', serif;
		font-size: 20px;
		text-align: left;
	}
	.footer-group img {
		height: 20px;
		width: 20px;
		padding: 0;
	}

	.footer-group a {
		text-decoration: none;
		color: black;
		align-items: center;
		color: #888;
	}
	footer ul {
		list-style: none;
		padding-left: 0;
	}

	footer li {
		font-family: 'Raleway',serif;
		font-size: 13px;
		margin-bottom: 10px;
		color: #888;
	}

	#rights {
		padding-left: 10rem;
		padding-right: 10rem ;
		height: 5rem;
		margin-bottom: 5rem;
	}

	#rights p {
		font-family: 'Raleway', serif;
		font-size: 13px;
		text-align: center;
	}

	/* Gallery page */

 .gallery-wrapper {
 	max-height: 200rem;
 	margin-left: 1rem;
 	margin-right: 1rem;
 	box-shadow: 4px 4px 8px 0 rgb(0, 0, 0, 0.6); 
 	background-color: #fff;
 	
 }

 .gallery-head-content {
 	position: relative;
 	margin-top: 6rem;
 	padding: 1rem;
 	height: 30rem;
 	background-image: url('../img/7220.jpg');
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: top;
 	text-align: center;
 	font-family:'Raleway', serif;
 	color: white;
 }


 .gallery-head-content h1{
 	font-size: 50px;
 	font-weight: lighter;
 	top: 40%;
 }

 .gallery-head-content p{
 	font-size: 20px;

 }

 .gallery-show {
 	transform: translateY(-2rem);
 	max-height: 150rem;
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	z-index: 10;
 	justify-content: center;
 	padding-left: 2rem;
 	padding-right: 2rem;
 	overflow: auto;
 
 }



 .gallery-tile {
 	max-height: 200px;
 	margin-left: 1.5rem;
 	margin-right: 1.5rem;
 	margin-bottom: 1rem;
 	margin-top: 1rem;
 	box-shadow: 0px 4px 8px 0 rgb(0, 0, 0, 0.3); 
 	background-color: #fff;
 	align-items: center;
 	text-align: center;
 	flex-grow: 1;
 	padding: 20px;
 	border-radius: 5px;
 	display: flex;
 	justify-content: center;
 }

 /* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
#close, #homeClose {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

#close:hover,
#close:focus,
 #homeClose:hover,
#homeClose:focus,{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.gallery-tile img{
	margin: auto;
	max-width: 100% !important;
	max-height: 100% !important;
}

#gallery-sub-title{
	animation: zoomIn 0.7s linear;
}

@keyframes zoomIn {
	0% {font-size: 0;opacity: 0;}
	100% {font-size: 20px;opacity: 1;}
}


.filters {
	position: absolute;
	bottom: 4rem;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-left: 20%;
	padding-right: 20%;

	
}

.filter-btn {
		text-decoration: none;
		color: white;
		background-color: #373737;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		margin-top: 1rem;
		border-radius: 10px;
		border: solid 0.2px #fff;
		padding: 0.5rem;
		font-family: 'Raleway';
		font-size: 13px;
		text-transform: uppercase;
		justify-content: center;
		min-width: 3rem;

}

.filter-btn:hover{
	background-color: #eee;
	color: black;
}


/* Photographer page */

.mobile-personal-intro{
	display: none;
}

#personal-main {
	padding-top: 10%;
		background-image: url('../img/personal-bg.png') ;
		background-size: cover;
		background-repeat: no-repeat;
}
.personal-wrapper{
		
}

.personal-canvas {
	margin-left: 1rem;
	margin-right: 1rem;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}
.personal-head{
	display: flex;
	flex-direction: row;
	background-color: #333;
}

#personal-img{
	padding: 2rem;
}
#personal-img img{
	width: 30rem;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);

}

#personal-content{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
 text-align: center;
 justify-content: center;
 align-items: center;
}

#head-word {
	font-family: 'Raleway', serif;
	font-size: 45px;
	color: white;
	padding-bottom: 0;
	margin-bottom: 0.5rem;
}
#sub-title{
	font-family: 'Raleway', serif;
	font-size: 25px;
	font-weight: lighter;
	color: white;
}

#divider{
	border-top: solid 1px white;
	width: 5rem;
}

#personal-intro{
	display: block;
	font-family: 'Raleway', serif;
	font-size: 18px;
	font-weight: lighter;
	color: white;
}

.personal-story{
	height: 15rem;
	background-color: white;
}

@media screen and (max-width: 1190px){
	.ribbon-wrapper {
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	}
	.home-main-content{
		margin-top: 0;
		transform: translateY(-30%);
	}
	.main-bg::before {
		transform: translateY(-52%);
	}
	.stories {
		transform: translateY(20%);

	}
	.footer-content{
		margin-top: 20%;
	}
}
	
@media screen and (max-width: 1040px) {
	.ribbon-wrapper {
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	}
	.home-main-content{
		margin-top: 0;
		transform: translateY(-30%);
	}
	.main-bg::before {
		transform: translateY(-58%);
	}
	.stories {
		transform: translateY(10%);

	}
	.home-main-content h1 {
		font-size: 70px;

	}
	.nature-tile {
		width: 97%;
		margin-right: 1rem;
		margin-left: 1rem;
	}
	.nature-content h2 {

		font-size: 40px;
	}
	a, button {
		text-decoration: none;
		color: black;
	}


	#share-content {
		width: 100%;
		display: grid;
		grid-template-columns: [sc1]33%[sc2]33%[sc3]33%[sc4];
		grid-template-rows: [sr1]100%[sr2];

		
	}


	.share-btn {
		width: 12rem;
		font-size: 12px;
		text-decoration: none;
		color: black;
		text-align: left;
	}

	#awarded {
		
		grid-row-start:1 ;
		grid-row-end: span sr2;
		grid-column-start: 1;
		grid-column-end: span sc2;
		border-radius: 10px 0 0 10px;
	}

	#fav {
		grid-row-start: 1;
		grid-row-end: span sr2;
		grid-column-start: 2;
		grid-column-end: span sc3;
		border-radius: 10px 0 0 10px;
	}

	#recent {
		width: 8rem;
		grid-row-start: 1;
		grid-row-end: sr2;
		grid-column-start: 3;
		grid-column-end: sc4;
	}
	.footer-content{
		margin-top: 20%;
	}

}

@media screen and (max-width: 850px) {
	.ribbon-wrapper {
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	}
	.home-main-content{
		margin-top: 0;
		transform: translateY(-30%);
	}
	.main-bg::before {
		transform: translateY(-62%);
	}
	.home-main-content h1 {
		font-size: 60px;
	}
	.home-main-content p {
		font-size: 20px;
	}
	.nature-content h2 {
		font-size: 30px;
	}
	.nature-content p {
		font-size: 20px;
	}
	.footer-content {
		padding-top: 10%;
	}



	}

@media screen and (max-width: 560px) {
	.entr-bg{
		background-image: url('../img/entr-bg-mobile.png');
	}

		.title1{
		margin-top: 20%;
		font-family: 'Raleway', serif;
		font-size: 40px;
		font-weight: lighter;
	}

	.title-logo{
		margin-top: 20%;
	}


	.title2, .title3, .entr-btn-div{
		font-family: 'Raleway', serif;
		font-size: 15px;
		font-weight:bolder;

	}

	.entr-btn-div{
		margin-top: 20%;
	}

	#entr-logo{
		width: 6rem;
		height: 6rem;
	}

	header {
		background-color: white;
	}
	#logo {
		display: flex;
		justify-content: center;
		position: relative;
		align-items: center;
		height: 100%;
		margin-left: 5rem;
	}
	.ribbon-wrapper {
		border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	}
	.menu-bar {
		display: block;
	}
	.nav-container {
		margin-left: 0;
		padding-left: 0;
	}
	.menu-control {
		display: flex;
	}
	.control {
		flex: auto;
	}
	.main-header.not-active .menu {
		display: none;
	}
	#menu-toggle {
		display: block;
	}
	.main-header.is-active .menu {
		display: block;


		}

	#menu-toggle {
		border: none;
		background-color: white;
	}
	.toggle-icon {
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		position: relative;
		color: black;
		text-decoration: none;
	}
	.icon-line{
		display: block;
		color: black;
		width: 1.5rem;
		height: 0.15rem;
		border-radius: 9999px;
		background-color: currentColor;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0.15rem;
		transition: all 125ms cubic-bezier(.25,.46,.45,.94);
		text-decoration: none;
	}
	.main-header.not-active .toggle-icon-top {
		top: 0.45rem;
	}
	.main-header.not-active .toggle-icon-bottom {
		bottom: 0.45rem;
	}

	.main-header.is-active .toggle-icon-top {
		top: 0.69rem;
		transform: rotate(45deg);
	}
	.main-header.is-active .toggle-icon-bottom {
		bottom: 0.69rem;
		transform: rotate(-45deg);
	}
	.main-header.is-active .menu-list {
		width: 100%;
		display: block;
		list-style: none;
		padding: 0;

	}
	.main-header.is-active .nav-item {
		display: flex;
		flex-direction: column;
		padding: 0;
		width: 100%;

	}
	.menu .nav-item-link {
		border-top: solid 1px rgba(0, 0, 0, 0.1);
		height: 3rem;
		width: 100%;
		padding-top: 1rem;
		padding-bottom: 0rem;
	}

	.dropdown {
		border-top: solid 1px rgba(0, 0, 0, 0.1);
		padding-top: 1rem;
		padding-bottom: 0rem;
	}
	#about-btn {
		border-top: none;
	}

	.dropdown-content {
		z-index: 10;
		height: 50rem;
		grid-template-rows: [mar1]10rem[mar2]5rem[mar3]auto[mar4];
		grid-template-columns: [mac1]100%[mac2];
	}

	#us {
		z-index: 10;
		height: 10rem;
		grid-row-start: 1;
		grid-row-end: span mar2;
		grid-column-start: 1;
		grid-column-end: span mac2;
		padding-bottom: 0;
		padding-top: 0;
		margin-bottom: 0;
		margin-top: 0;
	
	}

	#contact {
		z-index: 10;
		height: 5rem;
		grid-row-start: 2;
		grid-row-end: span mar3;
		grid-column-start: 1;
		grid-column-end: span mac2;
		padding-bottom: 0;
		padding-top: 0;
		margin-bottom: 0;
		margin-top: 0;
	
	}

	#about-blank {
		grid-row-start: 3;
		grid-row-end: span mar4;
		grid-column-start: 1;
		grid-column-end: span mac2;
		padding-bottom: 0;
		padding-top: 0;
	}

	.main-bg {
		width: 100%;
		padding: 1rem;


	}
	.main-bg::before{
		background-image: url("../img/mobile_bg.png");
		transform: translateY(0%);
	}

	#intro-btn {
		transform: translateY(-10rem);
		padding: 0.5rem;
		font-size: 12px;
		color: black;
		text-decoration: none;
		float: left;
		margin-left: 1rem;
		width: 8rem;
	}
	
	
	.home-main-content {
		height: 0;
	}
	.home-main-content h1 {
		font-size: 60px;
		text-align: left;
		padding-top: 0;
		transform: translateY(-95%);
		animation: none;
		
	}

	.home-main-content p {
		display: none;
	}

	.stories {
		transform: translateY(-10%);
		 background-image: none;
		width: 100%;
		
	}


	.bg-img {
		display: none;
	}

	#nature-tile-img {
		display: none;
	}
	#nature-tile-img img {
		display: none;
	}
	#nature-tile-btn {
		display: none;
	}
	.nature-content h2 {
		font-size: 40px;
		text-align: left;
		
	}

	#title-1{
		animation: appear 1.5s linear;
	}
	#title-2{

		animation: appear-2 3s linear;
	}

	@keyframes appear-2 {
		0%{opacity: 0;}
		40%{opacity: 0;}
		55%{opacity: 25%;}
		70%{opacity: 50%;}
		85%{opacity: 75%;}
		100%{opacity: 1;}
	}



	.nature-content p {
		font-size: 18px;
		text-align: left;
		border-bottom: solid 1px rgba(0, 0, 0, 0.2);
		animation: fly-in 4s linear;
	}

	@keyframes fly-in {
		0%{ opacity: 0;}
		60%{margin-left: 2rem;opacity: 0;}
		75%{margin-left: 1.5rem}
		90%{margin-left: 1rem;}
		100%{margin-left: 0; }
	}
	.nature-tile {
    height: 53rem;
    width: 100%;
    width: 100%;
    box-shadow: none;
    border: none;
    float: none;
	   display: flex;
	  flex-direction: column; 
	  flex-wrap: nowrap;  

	}


	#nature-tile-words {
	   display: flex;
	   flex-direction: column;
	   flex-wrap: nowrap;
	 

	}

	#studio, #logo-story, #belief {
		margin-left: 0.5rem;
		padding-right: 0.5rem;
		border-radius: 0 0 0 0;

	}

	#studio {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		padding-bottom: 1.5rem;
		margin-right: 2.5rem;
	}

	#portfolio{
		display: none;
	}



	#nature-tile-words h2, #studio h2{
		font-size: 18px;
	}
	#logo-story p, #belief p, #studio p {
		font-size: 15px;
		line-height: 1.2rem;
		width: 100%;
	}
	


	

	#mobile-img {
		display: grid;
		grid-template-columns: [mc1]40%[mc2]60%[mc3];
		grid-template-rows: [mr0]5rem[mr1]18%[mr2]18%[mr3]18%[mr4]17%[mr5]5%[mr6]auto[mr7];
		position: relative;
		transform: translateY(-8%);
		width: 100%;
		margin: 0;
		height: 58rem;
		padding: 0;
		overflow: hidden;
		border-radius: 12px;
		box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3);
	}

	.m-bg {
		background-image: url("../img/stories-bg.png");
		background-size: contain;
		background-position: bottom center;
		background-repeat: no-repeat;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.4;
	}

#m-recommend{
		grid-column-start: 1;
		grid-column-end: span mc3;
		grid-row-start: 1;
		grid-row-end:span mr1;
		padding-top: 1.5rem;
		padding-left: 0.5rem;

}

#m-recommend .badge{
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

	#m-img-1 {
		grid-column-start: 1;
		grid-column-end: span mc2;
		grid-row-start: 2;
		grid-row-end:span mr2;
		border-bottom: solid 4px white;
		border-right: solid 4px white;
	}

	#m-img-2 {
		grid-column-start: 2;
		grid-column-end: span mc3;
		grid-row-start: 2;
		grid-row-end:span mr2;
		border-bottom: solid 4px white;
	}
	#m-img-3 {
		grid-column-start: 1;
		grid-column-end: span mc3;
		grid-row-start: 3;
		grid-row-end:span mr3;
		border-bottom: solid 4px white;
	}
	#m-img-4 {
		grid-column-start: 1;
		grid-column-end: span mc3;
		grid-row-start: 4;
		grid-row-end:span mr4;
		border-bottom: solid 4px white;
	}
	#m-img-5 {
		grid-column-start: 1;
		grid-column-end: span mc2;
		grid-row-start: 5;
		grid-row-end:span mr5;
		border-right: solid 4px white;
	}
	#m-img-6 {
		grid-column-start: 2;
		grid-column-end: span mc3;
		grid-row-start: 5;
		grid-row-end:span mr5;
	}
	
	.m-slides-1, .m-slides-2, .m-slides-3, .m-slides-4, .m-slides-5, .m-slides-6{
		position: absolute;
		transition: opacity 2s ease-in;
	}

	#m-btn {
		grid-column-start: 1;
		grid-column-end: span mc3;
		grid-row-start: 6;
		grid-row-end:span mr6;
		margin-bottom: 0.5rem;
		margin-left: 0.5rem;
		padding-top: 2rem;
		align-self: stretch;
	}

	#m-btn a {
		text-decoration: none;
		color: black;
		min-width: 6rem;
		padding: 1rem;
		border-radius: 10px;
		border: none;
		box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.1);
		text-align: left;
		font-family: 'Raleway', serif;
		padding: 0.5rem;
		color: black;
		font-size: 10px;
		background-image: linear-gradient(-45deg,#C7D6C7,#D2D2C8, #EDD6D6, #EAC9C9);
	}


	#m-btn a:hover {
		box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.6); 
		background-color: linear-gradient(-45deg, #C7D6C7, #D2D2C8, #EDD6D6, #EAC9C9);
		background-size: 300% 300%;
		animation: gradient 5s ease;
	}

	#m-share {
		grid-column-start: 1;
		grid-column-end: span mc2;
		grid-row-start: 7;
		grid-row-end:span mr7;
		padding-top: 2rem;
		margin-left: 0.5rem;
	}

	#m-share .badge{
		font-size: 10px;
		margin-bottom: 0.5rem;
	}
	#m-share p {
		font-size: 10px;
		background-color: #888;
	}

	#m-share-content {
		width: 90%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}


	.share-btn {
		min-width: 6rem;
		margin-right: 1rem;
		padding: 0.3rem;
		font-size: 10px;
		text-decoration: none;
		color: black;
		text-align: left;
		border-radius: 10px;
		background-image: linear-gradient(-45deg,#C7D6C7,#D2D2C8, #EDD6D6, #EAC9C9);
	}

	#about-us{
		margin-left: 0;
	}

	#home-main{
		margin-bottom: 0;
	}

	.footer-content {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		height: 10rem;
		padding-top: 0;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-top: 0;
		transform: translateY(20%);
		
	}

	.footer-group h2 {
		font-size: 15px;
		text-align: left;
	}

	.footer-group li {
		font-size: 11px;
		text-align: left;
	}

	.footer-group {
		padding-top: 0;
		text-align: left;
	}

	#rights {
		width: 100%;
		padding: 0;
		margin-top: 15%;
		
	}

	#rights p {
		padding: 0;
		margin: 0;
		font-size: 12px;
	}

	.gallery-wrapper{
		margin-left: 0;
		margin-right: 0;
	}

	.gallery-show {
		flex-direction: column;
		height: 55rem;
		overflow: scroll;
		flex-wrap: wrap;
		padding-left: 1rem;
 		padding-right: 1rem;
 		justify-content: flex-start;
	}
	.gallery-tile {
		width: 180px;
		margin-left: 1rem;
 		margin-right: 1rem;

	}

	.filters{
		width: 90%;
		padding: 0;
		margin: 0;
		bottom: 40px;
		justify-content: center;

}


	.filter-btn{
		min-width: 3rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		padding: 0.3rem;
		font-size: 10px;
		border-radius: 8px;
	}

	#gallery-main{
		margin-bottom: 10%;
	}

	::-webkit-scrollbar {
    -webkit-appearance: none;
}

	.personal-canvas{
		margin-top: 15%;
		margin-left: 0;
		margin-right: 0;
	}
	.personal-head{
		background-image: linear-gradient(#333, #000);

	}
	#personal-img{
		padding: 1rem;
	}
	#personal-img img{
		width: 8.5rem;
	}
	#personal-content {
	}
	#head-word{
		font-size: 30px;
	}
	#sub-title{
		font-size: 15px;
		font-weight: 300;
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
	#personal-intro{
		display: none;
	}
	.mobile-personal-intro{
		display: block;
		background-image: linear-gradient(#000, #333);
		padding: 1rem;
		margin: 0;
		text-align: center;
		font-family: 'Raleway', serif;
		font-size: 15px;
		color: white;
		word-spacing: 5px;
	}
}